

<nav>
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://www.instagram.com/_0_hn_0_" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/assets/Untitled.svg" class="h-20" alt="Flowbite Logo" />

    </a>

</div>
  </nav>
  
  
<router-outlet></router-outlet>



<footer >
    <div class="w-full h-5/6 mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm font-q text-gray-500 sm:text-center dark:text-gray-400">THIS WEB APP IS NOT COMPLETED YET THIS IS ONLY 10% of development © 2024 <a href="https://instagram.com/cryptichn" class="hover:underline">Harihar Nautiyal</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="https://talk.harihar.site" class="hover:underline me-4 md:me-6">Talk</a>
        </li>
        <li>
            <a href="https://instagram.com/cryptichn" class="hover:underline me-4 md:me-6">Instagram</a>
        </li>
        <li>
            <a  class="hover:underline me-4 md:me-6">Discord</a>
        </li>
        <li>
            <a class="hover:underline">Email : {{ 'c@harihar.site'}}</a>
        </li>
    </ul>
    </div>
</footer>
